.header{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(112, 203, 206);
  gap: 10px;
  
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.65px white;
}
.logo:hover{
  transition: background-color 0.4s ease, transform 0.4s ease;
  transform: scale(1.05);
  
}
.one a {
    display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  font-family: serif;
  font-size: 16px;
  text-transform: uppercase;
  
  

}
logo{
    transition: background-color 0.4s ease, transform 0.4s ease;
}
logo:hover{
    background-color: aliceblue;
    transform: scale(1.2);
}
a{
    transition: background-color 0.4s ease, transform 0.4s ease;
}
a:hover{
    transform: scale(1.3);
}
footer{
    text-align: center;
    background-color: rgb(112, 203, 206) ;
    padding: 13px;
    margin-top: 100%;
}
.carting{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
button{
    border-radius: 20px;
    border-width: 0px;
    background-color: bisque;
    padding: 8px;

}
button{
    transition: background-color 0.4s ease, transform 0.4s ease;
}
button:hover{
    transform: scale(1.2);
    background-color: burlywood;
}
button:active{
    background-color: white;
}
.carting{
    background: rgb(215, 226, 195);
    padding: 10px;
    display: block;
    
}