.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(112, 203, 206);
 
  
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.65px white;
  width: 40%;
}
.logo:hover{
  transition: background-color 0.4s ease, transform 0.4s ease;
  transform: scale(1.05);
  
}
/* .oneone{
  display: flex;
  justify-content: center;
  margin-left: 20px;
  text-decoration: none;
  font-family: serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 40%;

} */

.one a {
    display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  font-family: serif;
  font-size: 16px;
  text-transform: uppercase;
  width: 20%;
  }

a:hover{
    color: brown;
    transform: scale(1.9); 

}
#exp{
    margin: 5px;
    padding-top: 10px;
}
.product{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  gap:50px;
  margin: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
 }
.temp{
  background: white;
  border-radius: 5px;
  box-shadow: 4px 6px 9px rgb(0, 0, 0.1) ;
  text-align: center;
  padding: 20px;
  width: auto;
/* clip-path: circle(55%);
shape-outside: circle(45%); */
  
}

.but{
  border-radius: 20px;
  background-color: burlywood;
  border-width: 0px;
  padding: 5%;
  cursor: pointer;
  
 
  
}
button{
  transition: background-color 0.4s ease, transform 0.4s ease; 

}
button:hover{
  transform: scale(1.2);
  background-color: aqua;
}
button:active{
  background-color:  rgb(182, 207, 207);
}
#footer{
  padding: 20px;
  margin-top: 230px;
  background: rgb(112, 203, 206);
  text-align: center;
  font-weight: bold;
}

